<footer class="row">
    <div class="large-12 columns">
        <hr>
        <div class="row">
            <div class="large-4 columns">
                <p>© Copyright Fedora Project.</p>
            </div>
            <div class="large-8 columns">
                <ul class="inline-list right">
                    <li>
                        <a href="http://planet.fedoraproject.org/">Planet Fedora</a>
                    </li>
                    <li>
                        <a href="http://fedoramagazine.org">Fedora Magazine</a>
                    </li>
                    <li>
                       <a href="http://docs.fedoraproject.org/">Documentation</a>
                    </li>
                    <li>
                        <a href="https://fedoraproject.org/wiki/Fedora_Project_Wiki">Fedora Wiki</a>
                    </li>
                    <li>
                        <a href="http://fedoraproject.org/en/join-fedora">Join Fedora</a>
                    </li>
                    <li>
                        <a href="/recent.atom">Blog Feed.</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</footer>

