 <!-- bottom -->
<hr/>
            <div class="frame">
                <div class="column-1">
                	<center>
                		<h4>
                			<b>
                				Fedora College - Virtual classroom for new fedora contributors
                			</b>
                		</h4>
                		<h5>
                			<b>Copyright 2014-2015</b><a href="" style="color:#000;"> Privacy Policy</a>
                        </h5>
                	</center>
                </div>
            </div>



 <!-- /bottom -->
