<div id="wrap">
      <div id="innerwrap">

        <!-- HEADER -->
        <div id="header">
          <img src="{{ url_for('static', filename='fedora_logo.png') }}"
            alt="Fedora College Logo" id="kojiLogo"/>
        </div><!-- end header -->

        <!-- MAIN NAVIGATION -->
        <div id="mainNav">
          <h4 class="hide">Main Site Links:</h4>
          <ul>
            <li id="indexTab"><a href="">Home</a></li>
            <li id="electionsTab"><a href="">Elections</a></li>
            <li id="resultsTab"><a href="">Results</a></li>
            {% if is_admin %}
            <li id="adminTab"><a href="">admin</a></li>
            {% endif %}
          </ul>
        </div><!-- end mainNav -->

        <span id="loginInfo">
         {% if g.fas_user.username %}
            <p class="navbar-text pull-right">Hello {{ g.fas_user.username }}, <a href="{{ url_for('auth.auth_logout') }}" class="navbar-link">Log Out</a></p>
        {% else %}
            <p class="navbar-text pull-right"><a href="{{ url_for('auth.auth_login') }}" class="navbar-link">Log In</a></p>
        {% endif %}
        </span>
 </div><!-- /.navbar -->
