<div id="wrap">
      <div id="innerwrap">

        <!-- HEADER -->
        <div id="header">
          <img src="{{ url_for('static', filename='fedora_logo.png') }}"
            alt="Fedora College Logo" id="fedora_logo"/>
        </div><!-- end header -->

        <!-- MAIN NAVIGATION -->
        <div id="mainNav">
          <h4 class="hide">Main Site Links:</h4>
          <ul>
          {% if request.path.startswith('/admin') %}
            <li id="indexTab"><a href="{{  url_for('admin.index') }}">Home</a></li>
            <li id="ScreenCastsTab"><a href="{{  url_for('admin.screencast'  )}}">Add ScreenCast</a></li>
          {% else %}
            <li id="indexTab"><a href="/home">Home</a></li>
            <li id="ScreenCastsTab"><a href="/screencasts">Fedora ScreenCasts</a></li>
	    
            <li id="Addmore"><a href="/addmore">Add New Content</a></li>
            <li id="AboutTab"><a href="/about">About</a></li>
            <li id="AboutTab"><a href="/blog">Blog</a></li>
            {% if is_admin %}
            <li id="adminTab"><a href="{{  url_for('admin.index')}}">Admin</a></li>
            {% endif %}
          {% endif %}
          </ul>
        </div><!-- end mainNav -->

        <span id="loginInfo">
         {% if g.fas_user.username %}
            <p class="navbar-text pull-right">Hello <a href="/user/{{ g.fas_user.username }}">{{ g.fas_user.username }}</a>, <a href="{{ url_for('auth.auth_logout') }}" class="navbar-link">Log Out</a></p>
        {% else %}
            <p class="navbar-text pull-right"><a href="{{ url_for('auth.auth_login') }}" class="navbar-link">Log In</a></p>
        {% endif %}
        </span>
 </div><!-- /.navbar -->
