<div class="navbar">
    <div class="container">
    
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#">Fedora College</a>

        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
        {% if g.fas_user.username %}
            <p class="navbar-text pull-right">Hello {{ g.fas_user.username }}, <a href="{{ url_for('auth.auth_logout') }}" class="navbar-link">Log Out</a></p>
        {% else %}
            <p class="navbar-text pull-right"><a href="{{ url_for('auth.auth_login') }}" class="navbar-link">Log In</a></p>
        {% endif %}
    </div><!-- /.container -->
 </div><!-- /.navbar -->
