<div class="row">
<hr/>
    <div class="large-8 columns">
        <div class="panel radius">
            <div class="row">
                <div class="large-6 small-6 columns">
                    <h4>Fedora College</h4>
                    <hr>
                    <h5 class="subheader">
                         <p align="justify">We run online courses on contributing at various levels be it documentation, bug-fixing or packaging towards the fedora community.
                            </p>
                    </h5>
                    <div class="show-for-small" style="text-align: center">
                            <a class="small radius button" href="#">Search Tutorials</a>
                            <br>
                            <a class="small radius button" href="https://github.com/echevemaster/fedora-college">Contribute</a>
                    </div>
                </div>
                <div class="large-6 small-6 columns">
                        <p align="justify">This project works to create a virtual classroom for new fedora contributors. Acts as a platform for new contributors to engage with the community and learn how they can contribute best in the community.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="large-4 columns hide-for-small">
        <h4>Contribute</h4>
        <hr>
        <a href="{{url_for('content.addcontent')}}">
            <div class="panel radius callout" style="text-align: center">
                
                <strong>Write Tutorials</strong>
            </div>
        </a>
        <a href="#">
            <div class="panel radius callout" style="text-align: center">
            <a href= "https://github.com/fedora-infra/fedora-college">
                <strong>Contribute to Code</strong>
            </a>
            </div>
        </a>
    </div>
</div>