{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}

  
    <div class="row">
           
        <div class="row">
            <div class="large-4 columns panel">
            	<h4>Recently Added</h4><br/>
				
				<table border="1" >
                <tr>
                    <td><b>&nbsp;&nbsp;&nbsp;&nbsp;Name &nbsp;&nbsp;&nbsp;&nbsp; </b>
                    </td>
                    <td><b>&nbsp;&nbsp;&nbsp;&nbsp;Media ID&nbsp;&nbsp;&nbsp;&nbsp;</b>
                    </td>
                </tr>
            	{% for record in lists %}
            	<tr>
            		<td>
                       {{record.featured_name }}
            		</td>
                    <td>
                        <a class= 'button-blue' href="{{url}}{{record.media_id}}">
                        &nbsp;&nbsp;&nbsp;&nbsp;  {{record.media_id}}  &nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </td>
            	</tr>

            	{% endfor %}
            	</table>
            </div>
           	<div class="large-8 columns">
                <br/>
                {% if not data %}
                <center><h3>No Records Found</h3></center>
                {% endif %}
	            {% for record in data %}
    	            <div class = 'panel radius callout'>
    		                    
    		                    <p>Record Name : {{record.featured_name }}</p>
    		                    <p>Relative Url: 
                                    <a href="/{{record.content_url}}" style="font-color:#000;">
                                        <b>View</b>
                                    </a>
                                </p>
                                <img src="/{{record.thumb_url}}" />
    		                    <p>File Type : {{record.file_type}}</p>
    		                    <p>Added By : {{record.user_id}} | Added On : {{record.timestamp}}</p>		

                                {% if g.fas_user.username %}                    
    		                    <!--p>Revisions : {{record.revise}}</p-->
    		                    <p>

    		                    	<a class= 'button small' href="{{url}}{{record.media_id}}/revise" style="font-color:#000;">&nbsp;&nbsp;&nbsp; Revise &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                    &nbsp;&nbsp;
                                    <a 
                                        class= 'button small' 
                                        href="{{url_for('api.deletevideo',videoid = record.media_id, token = token) }}" 
                                        style="font-color:#000;"
                                    >
    		                    		&nbsp;&nbsp;&nbsp; Delete &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    		                    	</a>
    		                    </p>
                                {% endif %}
    		        </div>
	             {% endfor %}       
            </div> 
        </div> 
        <center>
            <ul class="pagination">
                          <li><a href="{{ url_for('content.displaymedia',id=id-10)}}">Previous</a></li>
                          <li class="current"><a href="">{{id}}</a></li>
                          <li><a href="{{ url_for('content.displaymedia',id=id+10)}}">Next</a></li>
            </ul>
        </center>
    </div>

               
{% endblock %}
