{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}

  
    <div class="frame">
           
        <div class="frame">
            <div class="column-25">
            	<h3>File Names </h3><br/>
				
				<table border="1" >

            	{% for record in data %}
            	<tr>
            		<td>
            			<a class= 'button-blue' href="{{url}}{{record.media_id}}">
            			&nbsp;&nbsp;&nbsp;&nbsp;	Media Id : {{record.media_id}}  &nbsp;&nbsp;&nbsp;&nbsp;
            			</a>
            		</td>
            	</tr>

            	<tr>
            		<td>
            			&nbsp;&nbsp;
            		</td>
            	</tr>

            	{% endfor %}
            	</table>
            </div>
           	<div class="column-75">
	            {% for record in data %}
	            <div class = 'column-1'>
		                   
		                    <h4>Record Name : {{record.name}}</h4>
		                    <h4>Relative Url: <a href="/{{record.content_url}}">{{record.content_url}}</a></h4>
		                    <h4>File Type : {{record.file_type}}</h4>

		                    <h4>System Path : {{record.sys_path}}</h4>
		                    <h4>Added By : {{record.user_id}}</h4>
		                    <h4>Added On : {{record.timestamp}}</h4>		                    
		                    <h4>Revisions : {{ record.revise}}</h4>
		                    <h4>
		                    	<a class= 'button-blue' href="{{url}}{{record.media_id}}/revise" style="font-color:#000;">&nbsp;&nbsp;&nbsp; Revise &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> | <a class= 'button-blue' href="{{url_delete}}{{record.media_id}}" style="font-color:#000;">
		                    		&nbsp;&nbsp;&nbsp; Delete &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		                    	</a>
		                    </h4>
		          </div> 
		          <hr/>
	             {% endfor %}
            </div> 
        </div> 
    </div>
    <hr/>

               
{% endblock %}
