{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}


<style>   
 .progress { position:relative; width: auto ; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }  
 .bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }  
 .percent { position:absolute; display:inline-block; top:3px; left:48%; }  
 </style>  


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">


<div class="row">
    <div class="large-12 columns">
           <h3>{{head}}</h3>

                    <form id="myForm" action="{{form_action}}" method="post"
                    enctype="multipart/form-data">
                    <label for="file">Filename:</label>
                    <input type="file" name="file" id="file" required><br><br>
                    <label for="file">Display Name:</label>
                    <input type="text" name="featured_name" id="file" required><br><br>
                    <label for="file">Tags:</label>
                    <input type="text" name="tags" id="tags" required><br><br>
                    <select id="type" name="type">
                        <option value="image">Image</option>
                        <option value="video">Video</option>
                        <option value="audio">Audio</option>
                        <option value="doc">Documents</option>
                    </select>
                    <div class="progress">  
                       <div class="bar"></div >  
                       <div class="percent">0%</div >  
                    </div>  
                      <hr/>
                      <center>
                        <h3 id="status">
                        </h3>
                      </center>
                    <input type="submit" name="submit"  class="button" value="Submit">
                    </form>
    
    </div>
</div>



{% block tags%}
 

 <script>  
 (function() {  
 var bar = $('.bar');  
 var percent = $('.percent');  
 var status = $('#status');  
 $('form').ajaxForm({  
   beforeSend: function() {  
     status.empty();  
     var percentVal = '0%';  
     bar.width(percentVal)  
     percent.html(percentVal);  
   },  
   uploadProgress: function(event, position, total, percentComplete) {  
     var percentVal = percentComplete + '%';  
     bar.width(percentVal)  
     percent.html(percentVal);  
   },  
   complete: function(xhr) {  
     bar.width("100%");  
     percent.html("100%");  
     var obj = jQuery.parseJSON(xhr.responseText)
     status.html(obj.status);  
     alert("Upload status" +str(obj.status))
   }  
 });   
 })();      
 </script>  

<script>
  $(function() {
    var availableTags = [
     {% for tag in tags %}
      "{{tag.tag_text}}",
      {% endfor %}
    ];

    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( "#tags" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( "," );
          return false;
        }
      });
  });
  </script>
{% endblock%}
{% endblock %}
