{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

    <link rel="stylesheet" href="static/rating/jquery/jRating.jquery.css" type="text/css" />
    <div class="row">

        <div class="large-12 columns">
            {% for record in content %}

        <div class="large-8 columns">
                    <hr/>
                        <div class="blog">
                            <div class="panel" >
                                    <h2>{{ record.title }}</h2><br/>
                                    Written By : {{record.user_id}} | Written on : {{record.date_added }} <br/>
                                   
                                    <br/>
                            </div>
                                   <hr/>
                                    {{ record.html | safe }}
                                      
                        </div>
        </div>
            {% if record.user_id ==  g.fas_user.username %}
                <div class="large-4 columns">
                        <table border="1" >
                            <tr>
                                <td>
                                    <a href="{{ url_for('content.addcontent',posturl=record.slug) }}" class="button" > 
                                     Edit Screencast
                                    </a>
                                </td>
                            <tr/>  
                            <tr>
                                <td>
                                    Rating<div class="basic" data-average="0" data-id="{{record.content_id}}"></div>
                                </td>


                            <tr/>  
                            <tr>   
                                <td>
                                    {% if star == "UnMarked" %}
                                    
                                        <a href="{{ url_for('api.mark_star',content=record.content_id,slug =record.slug) }}" class="nice small green radius button alert " >
                                         Add to favourites
                                        </a>
                                    
                                    {%else%}

                                    
                                        <a href="{{ url_for('api.mark_star',content=record.content_id,slug=record.slug) }}" class="nice small radius green button " > 
                                         Added to Favourites
                                        </a>
                                    

                                    {% endif %}
                                </td>
                            <tr/>                                
                        </table>
                </div>
            {% endif %}
                        <hr/>
                        <div class ="comments row panel" >
                            <h3>Comments</h3>
                                    <div class="large-8 columns">

                                        {% for comment in tree %}
                                                <div class="large-8 columns panel callout radius">
                                                    <p>
                                                       <img src="http://placehold.it/50x50&text={{record.username }}" />
                                                       <b> {{comment.username }} &nbsp;</b> {{record.text}}                                            
                                                        <h6>Added : {{ comment.date_added }}</h6>
                                                    </p>
                                                    </div>
                                                <hr>
                                        {% endfor %}
                                        {% if form %}

                                        <hr/>
                                        <form method="post" action="">
                                            <fieldset>
                                               <legend>

                                               </legend>
                                                {{form.hidden_tag()}} 
                                                {{ render_field(form.text) }} 
                                                <input id="content_id" name="content_id" type="hidden" value="{{record.content_id}}">
                                            </fieldset>
                                            <input type="submit" class="button" value="Save"/>
                                        </form>
                                        {% else %}
                                        <a href="/auth/login" class="button" > Login to Add comments </a>
                                        {% endif %}
                                    </div>

                        
                        </div>

                    <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block rating %}
<!-- JS to add -->
<script type="text/javascript" src="static/rating/jquery/jRating.jquery.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".basic").jRating();
  });
</script>
{% endblock %}