{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="large-12 columns">
        
        </div>
        <div class="large-12 columns">
        {% for record in content %}
                <hr/>
                    <div class="blog">
                        <div class="panel" >
                               <h2>{{ record.title }}</h2>
                               <br/>
                               <b>
                                    Written By : {{record.user_id}} | Written on : {{record.date_added }} 
                               </b>

                        </div>
                               <hr/>
                                {{ record.html | safe }}
                                  
                    </div>
                    {% if record.user_id ==  g.fas_user.username %}
                        <a href="{{ url_for('content.addcontent',posturl=record.slug) }}" class="button" > Edit Post </a>
                    {% endif %}
                    <hr/>
                    <div class ="comments row panel" >
                        <h3>Comments</h3>
                                <div class="large-12 columns">

                                    {% for record in tree %}
                                        <div class= "row panel callout radius">
                                            <div class="large-8 columns">
                                            <p>
                                               <img src="http://placehold.it/50x50&text={{record.username }}" />
                                               <b> {{record.username }} &nbsp;</b> {{record.text}}                                            
                                                <h6>Added : {{ record.date_added }}</h6>
                                            </p>
                                            </div>
                                            <hr>
                                        <div>
                                    {% endfor %}
                                    {% if form %}

                                    <hr/>
                                    <form method="post" action="">
                                        <fieldset>
                                           <legend>

                                           </legend>
                                            {{form.hidden_tag()}} 
                                            {{ render_field(form.text) }} 
                                            <input id="content_id" name="content_id" type="hidden" value="{{record.content_id}}">
                                        </fieldset>
                                        <input type="submit" class="button" value="Save"/>
                                    </form>
                                    {% else %}
                                    <a href="/auth/login" class="button" > Login to Add comments </a>
                                    {% endif %}
                    </div>

                    
                    </div>

                <br/>
        {% endfor %}
        </div>
    </div>
{% endblock %}
