{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
     <div class="frame">
        <div class = "frame" >
            <div class="column-1">
                {% for record in screen %}
                        <div class="column-4">
                            <div class="grid-1">
                                <b>{{record.title }}</b>:{{ record.description | safe }}
                                Tags : {{record.tags}}<br/>
                                <a href="/{{record.slug}}" > Read More </a> 
                            </div>
                        </div>     
                {% endfor %}
            </div>
        </div>  
        <div class = "frame">
            <h4>From Our Blog</h4>
            <div class="column-1">
                {% for record in posts %}
                        <div class="column-4">
                            <div class="grid-1">
                                <b>{{record.title }}</b>:{{ record.description | safe }}
                                Tags : {{record.tags}}
                            </div>
                        </div>     
                {% endfor %}
            </div>
        </div>  

     </div>
{% endblock %}
