{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
     <div class="frame">
        <h3>{{content}}</h3>
            <div class="column-1">
                {% for record in data %}
                        <div class="column-4">
                            <div class="grid-1">
                                   {{ record.title }}<br/>{{ record.description }}
                            </div>
                        </div>     
                    
                {% endfor %}
            </div>
     </div>
{% endblock %}
