{% extends "base_home.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
<div class="row">
    <div class="large-12 columns">
<div id="wrapper">

    <h4>Recent Screencasts</h4>
    <hr/>
    <div id="columns">
    {% for record in screen %}
        <div class="pin">
            <a href="/{{record.slug}}" >        
                <img src ="/{{record.thumb_url}} "/>
                <p><h6>{{record.title }}</h6></p>
            </a>   
        </div>
    {% endfor %}
</div>
</div>
<hr/>
<div id="wrapper">

    <h4>Latest Blog Posts</h4>
    <hr/>
    <div id="columns">
            {% for record in posts %}
               <div class="pin">
                <a href="{{ url_for('content.blog',slug=record.slug ) }}" >
                                <p>
                                    <h6>{{record.title }}</h6>
                                    <b>Tags<b/> {{record.tags}}<br/>
                                    <b>Written By</b> {{record.user_id}}
                                </p> 
                </a> 
                </div>
            {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}
