        {% extends "base_home.html" %}
        {% block title %}
            {{ title }}
        {% endblock %}
        {% block content %}
        {% from "_formhelpers.html" import render_field %}

<script src="{{ url_for('static', filename='js/ckeditor/ckeditor.js') }}"></script>
<div class="row">
  <div class="large-12 columns">
        <div id="Create Content">
                <h2> 
                    {% if request.args.get('updated') %}
                      {{request.args.get('updated')}}
                      <hr/>
                    {% endif %}
                </h2>
             <div class="frame">
              <div class="row">
                <div class="large-4 columns">
                <div class="column-25"> 

                  <b>Search Media</b>
                  <form id="tfnewsearch" method="get" action="/media/search/" target="_blank">
                  <input type="text" name="var" size="21" maxlength="70"> 
                  <input type="submit" value="search" class="tfbutton">
                  </form>
                          <h4> Ordered by last added </h4><br/>
                          {% for record in media %}
                            <div class="sidebar">
                                <table border="1" >
                                  <tr>
                                    <td>

                                      <img src="/{{record.thumb_url}}" /><br/>

                                       Media ID : {{record.media_id}}   <br/>
                                       Relative Url: 
                                              <a href="/{{record.content_url}}" style="font-color:#000;">
                                                  Right click to copy
                                              </a><br/>
                                       File Type : {{record.file_type}} <br/>    
                                       Embed Code : [[{{record.media_id}}]]            
                                    </td>
                                  </tr>
                                </table>
                            </div>
                            <br/>
                          {% endfor %}
                </div>
              </div>
              <div class="large-8 columns">
                <div class="column-75">
                       <form method="post" action="">
                          <fieldset>
                           <legend>

                           </legend>
                            {{form.hidden_tag()}} 
                            {{ render_field(form.title) }}
                            {{ render_field(form.type_content) }}
                            {{ render_field(form.active) }}
                            {{ render_field(form.tags )}}
                            {% if form.description.errors %}
                                <ul class=errors>
                                {% for error in form.description.errors %}
                                   <li>
                                    {{ error }}<br/>
                                  </li>
                                {% endfor %}
                                </ul>
                                <br/><br/>
                            {% endif %}
                            {{ form.description(class_="ckeditor",cols_="80",rows_="40")}}<br/>
                            
                            
                          </fieldset>
                          <input type="submit" class="button" value="Save"/>
                       </form>
                </div>
              </div>
              </div>

            
        </div>
      </div>
    </div>
        {% endblock %}
