
h1,
.grid,
h3,
h4,
h5,
h6,
.h1,
..grid,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #317eac;
}
       .jumbotron {
            padding: 30px;
            margin-bottom: 30px;
            color: inherit;
            background-color: #e5eaff;
        }
        .jumbotron h1,
        .jumbotron .h1 {
            color: inherit;
        }
        .jumbotron p {
            margin-bottom: 15px;
            font-size: 21px;
            font-weight: 200;
        }
        .jumbotron > hr {
            border-top-color: #d5d5d5;
        }
        .container .jumbotron {
            border-radius: 6px;
        }
        .jumbotron .container {
            max-width: 100%;
        }
        @media screen and (min-width: 768px) {
            .jumbotron {
                padding-top: 48px;
                padding-bottom: 48px;
            }
            .container .jumbotron {
                padding-right: 60px;
                padding-left: 60px;
            }
            .jumbotron h1,
            .jumbotron .h1 {
                font-size: 40px;
            }

            .jumbotron .grid,
            .jumbotron ..grid {
                font-size: 35px;
            }

             .jumbotron h3,
            .jumbotron .h3 {
                font-size: 30px;
            }


        }
        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
        .box {
            text-align: center;
            font: 15px;
            background: #e73827;
            color: #fff;
            padding: 15px 0 15px 0;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .box-yellow {
            text-align: center;
            font: 15px;
            background: #e7a61a;
            color: #fff;
            padding: 15px 0 15px 0;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .box-blue {
            text-align: center;
            font: 15px;
            background: #0E546E;
            color: #fff;
            padding: 15px 0 15px 0;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        .container {
            margin-top: 78px;
            top: 105px;
        }
        .footer {
            text-align: center;
            font: 15px;
            background: #808080;
            color: #fff;
            padding: 15px 0 15px 0;
        }

        .blog {
            text-align:left;
            font: 15px;
            background: #0E546E;
            color: #000;
            padding: 15px 10px 15px 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }

        .sidebar {
            text-align:left;
            font: 20px;
            background: #0E546E;
            color: #fff;
            padding: 15px 10px 15px 10px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
        }
        

    .grid-1 { 
        text-align: center;
        font: 15px;
        background: #0E546E;
        color: #fff;
        padding: 15px 0 15px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .grid-2 { 
        text-align: center;
        font: 15px;
        background: #dc4916;
        color: #fff;
        padding: 15px 0 15px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .grid-3 { 
        text-align: center;
        font: 15px;
        background: #6871b1;;
        color: #fff;
        padding: 15px 0 15px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    .grid-4 { 
        text-align: center;
        font: 15px;
        background: #d1b935;;
        color: #fff;
        padding: 15px 0 15px 0;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }
    
    
    
.button-blue{
border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button-blue:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}