/*
* Adopted from 
* Lemonade v1.1
* Copyright 2013, Joe Richardson
* lemonade.im
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*
*
*/

*,
*:after,
*:before {
  margin: 10;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

/* Set the width of the grid */
.frame {
  margin: 0 auto
}

/* Attribute selector */
[class*='column-'] {
  float: left;
  padding: 0.3em;
}

/* Floats last ".column-" to the right */
[class*='column-']:last-of-type {
  float: right
}

/* Clearfix */
.frame:after {
  content: "";
  display: table;
  clear: both
}

/* Main Widths */
.column-1  { width: 100% }
.column-2  { width: 50% }
.column-3  { width: 33.33% }
.column-4  { width: 25% }
.column-5  { width: 20% }
.column-6  { width: 16.6666666667% }
.column-7  { width: 14.2857142857% }
.column-8  { width: 12.5% }
.column-9  { width: 11.1111111111% }
.column-10 { width: 10% }
.column-11 { width: 9.09090909091% }
.column-12 { width: 8.33% }
.column-75 { width: 75% }
.column-25 { width: 25% }

/* Landscape mobile & down */
@media (max-width: 30em) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12,
  .column-75,
  .column-25 {
    width: 100%;
  }
}

/* Portrait tablet to landscape */
@media (min-width: 30em) and (max-width: 50em) {
  .column-4,
  .column-6,
  .column-8,
  .column-10,
  .column-12,
  .column-75 {
    width: 50%
  }

  .column-1,
  .column-2,
  .column-3,
  .column-5,
  .column-7,
  .column-9,
  .column-11,
  .column-25 {
    width: 100%
  }
}

/* Landscape to small desktop */
@media (min-width: 50em) and (max-width: 60em) {
  .column-2,
  .column-7,
  .column-25 {
    width: 100%
  }

  .column-4,
  .column-8,
  .column-10,
  .column-12,
  .column-75 {
    width: 50%
  }
}