{% extends "base.html" %}
{% block title %}
     {{title}}
{% endblock %}
{% block content %}
    <div class="frame">
            <h3>{{content}}</h3>
            
            <hr/>
                <div class="blog">
                        Blog 1
                        <br/>
                            Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. 
                </div>
                <br/>
                <div class="blog">
                	Blog 2
                        <br/>
                             Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. Latest update from my blog are here. 
                </div>
    </div>
       
{% endblock %}
