        {% extends "base_home.html" %}
        {% block title %}
            {{ title }}
        {% endblock %}
        {% block content %}
        {% from "_formhelpers.html" import render_field %}
<div class="row">
     <div class="large-12 columns">
         <div id="Edit Profile">
             <h3>{{  title  }}</h3>
              <form method="post" action="">
                                <fieldset>
                                    <legend></legend>
                                    {{form.hidden_tag()}} 
                                    {{ render_field(form.username) }}
                                    {{ render_field(form.email)}}
                                    {{ render_field(form.about )}}
                                    {{ render_field(form.website) }}
                                </fieldset>
                            <input type="submit" class="button" value="Save"/>
                        </form>
                        </div>
                </div>
</div>

{% endblock %}
