        {% extends "base_home.html" %}
        {% block title %}
            {{ title }}
        {% endblock %}
        {% block content %}
        {% from "_formhelpers.html" import render_field %}
        <div class="row">
        <div class="large-12 columns">
            <div class="column-75">
                <div class="blog">
                    <h4>User's details</h4>
<table>
    <tbody>
        <tr>
            <td><strong>User Name:</strong></td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td><strong>Website :</strong></td>
            <td>{{user.website}}</td>
        </tr>
        <tr>
            <td><strong>About:</strong></td>
            <td>{{ user.about }}</td>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ user.email }}</td>
        </tr>
         <tr>
            <td><strong>Token</strong></td>
            <td>{{ user.token }}</td>
        </tr>
    </tbody>
</table>

            <a  class="button"  href="/user/{{ g.fas_user.username }}/edit">Edit Profile</a>&nbsp;&nbsp;&nbsp;
            <a class="button" href="{{  newtoken }}">Re-Generate Access Token </a> 
                        <br/>
                </div>
            </div>
        </div>
    </div>
    
<div class="row">
            <div class="large-12 columns">
                    {% for data in data %}
                    <p>
                        <div class="blog">
                        	<a href="{{data.url}}">{{data.body}}</a>
                        </div>
                    </p>
                    {% endfor %}           
            </div>
            <br/>
        

        <div class="large-12 columns">
                <div class="column-1">
                   {% for post in posts %}
                    <p>
                        <div class="blog">
                        {{post.body}}
                        </div>
                    </p>
                    {% endfor %}
                </div>
        </div>
</div>
</div>
        {% endblock %}
