{% extends "base.html" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<div id="screencast">
    <h2>{{  title  }}</h2>
    <form method="post" action="{{ form_action }}">
        <fieldset>
            <legend></legend>
            {{ render_field(form.title) }}
            {{ render_field(form.slug)}}
            {{ render_field(form.description )}}
            {{ render_field(form.url_video) }}
            {{ render_field(form.active) }}
        </fieldset>
    <input type="submit" class="button" value="Save"/>
</form>
</div>
{% endblock %}
